* {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-family: "Noto Sans";
  background-image: linear-gradient(135deg, #d3c99c 0%, #096dfb 100%);
  background-repeat: none;
  background-attachment: fixed;
}

body {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(135deg, #d3c99c 0%, #096dfb 100%);
  background-repeat: none;
  background-attachment: fixed;
}
.wrapper {
  background-image: linear-gradient(135deg, #d3c99c 0%, #096dfb 100%);
  background-repeat: none;
  background-attachment: fixed;
}
nav {
  display: flex;
}

.above-fold {
  position: relative;
  height: 90vh;
  width: 100vw;

  display: flex;
}
.logo {
  position: relative;
  left: 2rem;
  float: left;
  width: 17rem;
}
header {
  position: relative;
}
.header {
  padding: 2rem;
  width: 100vw;
  height: 10vh;
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  color: white !important;

  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  margin-left: 5rem;
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "IBM Plex Mono";
}

.header ul li {
  color: white !important;
  position: sticky;
  z-index: 1000;
  list-style: none;
}
.header ul li a {
  text-decoration: none;
  margin: 10px;
  padding: 1rem;
}
.header ul li a:visited {
  color: white;
  text-decoration: none;
}
.list-box {
  z-index: 1000;
}
.textbox {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 90vh;
  justify-content: space-evenly;
  align-items: center;
  mix-blend-mode: overlay;
}
.app-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 90vh;
}
.h {
  position: relative;

  letter-spacing: 2px;
  position: relative;
  font-size: 1rem;
  text-align: left;
  text-transform: uppercase;
}
.h h2 {
  mix-blend-mode: overlay !important;
}
.left-ad p {
  mix-blend-mode: overlay;
}
.left-ad {
  mix-blend-mode: overlay !important;
  position: relative;
  border-width: 20px 10px 7px 6px;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  padding-right: 3em;
  padding-left: 3em;
  margin-top: 0;
  line-height: 1.4em;
  letter-spacing: 1px;
}
.left-ad:before,
.left-ad:after,
.left-ad > :last-child:before,
.left-ad > :last-child:after {
  position: absolute;
  width: 60px;
  height: 50px;
  border-color: rgb(243, 241, 241);
  border-style: solid;
  content: " ";
}
.left-ad:before {
  top: 9px;
  left: 54px;
  border-width: 1px 0 0 1px;
}

.left-ad:after {
  top: 9px;
  right: 54px;
  border-width: 1px 1px 0 0;
}

.left-ad > :last-child:before {
  bottom: 9px;
  right: 54px;
  border-width: 0 1px 1px 0;
}

.left-ad > :last-child:after {
  bottom: 9px;
  left: 54px;
  border-width: 0 0 1px 1px;
}
.left-ad p {
  word-break: break-word;
}
.list-items li {
  list-style: none;
  font-size: 1.5rem;
  line-height: 2rem;
  mix-blend-mode: overlay !important;
}

.app-display {
  position: relative;

  height: 50vh;
  min-width: 10vw;
  min-height: 5vh;
  filter: drop-shadow(1px 6px 7px black);
}
.apple {
  width: 19vw;
}
.download-wrapper {
  position: absolute;
  float: left;
  right: 3rem;
  text-align: center;
}
.download,
.learn {
  background-image: linear-gradient(
    to right,
    #98b0d4,
    #7399d1,
    #8ca7cf,
    #7399d1
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  width: 200px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.download:hover,
.learn:hover,
#submit-btn,
#download-3 {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.features {
  mix-blend-mode: overlay;
  display: block;
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.feature-item {
  width: 100vw;
  border-bottom: 2px solid black;
}
.feature-wrapper {
  display: flex;
  flex-direction: row;
  background-color: rgba(14, 14, 14, 0.13);
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
  align-items: center;
  justify-content: space-evenly;
}
#fw {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  mix-blend-mode: overlay;

  padding: 2.5rem;
}
#header1-feat {
  margin: 1rem;
  padding: 1.5rem 4rem;
  mix-blend-mode: overlay;
}
#header1-feat h1 {
  justify-self: center;
}
#f1 {
  width: 100vw !important;
  align-items: center;
  justify-content: center;
}
.calander {
  margin: 1rem;
  width: auto;
  height: 10rem;
  mix-blend-mode: overlay;
}
.Header-feat {
  padding: 2rem;
  border-right: 2px solid black;
  width: 75%;
  line-height: 2.5rem;
  mix-blend-mode: overlay;
}
.Header-feat p {
  font-size: 1.5rem;
}
.Header-feat h2 {
  font-size: 2rem;
}
.social-img,
.calander,
.dumbell {
  width: auto;
  height: 10rem;
  margin: 1rem;
  padding: 0.5rem;
  mix-blend-mode: overlay;
}
#social-2 {
  border-right: none;
  border-left: 2px solid black;
}
#social {
  flex-direction: row-reverse;
  mix-blend-mode: overlay;
}
.form-box form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-box {
  background-image: linear-gradient(135deg, #d3c99c 0%, #096dfb 100%);
  background-repeat: none;
  background-attachment: fixed;
  width: 50vw;
}
form {
  mix-blend-mode: overlay;
  margin: 3rem;
}
#email-input {
  width: 15rem;
  height: 5vh;
  margin: 3rem;
  border-radius: 45px;
  border: none;
}
#email-input::placeholder {
  text-align: center;
}
#submit-btn {
  width: 10vw;
  height: 5.5vh;
  border-radius: 45px;
  border: none;
  mix-blend-mode: overlay;
}
.bottom-flex {
  mix-blend-mode: overlay;
  display: flex;
  background-image: linear-gradient(135deg, #d3c99c 0%, #096dfb 100%);
  background-repeat: none;
  background-attachment: fixed;
}
.download-box {
  border-left: 2px solid black;
  margin: 1rem;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white !important;
  -webkit-text-fill-color: white !important;
  mix-blend-mode: overlay;
}
.download-box h2 {
  -webkit-text-fill-color: white;
}
